

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:underline;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body {
	font-family: 'Open Sans', sans-serif, arial;
	font-weight: 400;
	background: #ffffff;
	font-size: 0.8925em;
	line-height:1.5em;
	color: #111111;
}
strong {
	font-weight: bold;
}

.wrap{
	margin:0 auto;
	width:80%;
}
.wrapper{
	padding:0px 4%;
}
/* start header */
header{
	background: #314D68;
	width: 100%;
}
.logo{
	float:left;
	padding: 9px 0 9px 0;
}

.logo a {
	text-decoration: none;
}

/* banner */


.tooltip {
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
	width: 100%;
	margin: 0 0 30px 0;
}
.tooltip img {
	border: 0; 
	margin: -2px 0 0 -22px;
	position: relative;
	float: left;
}
.tooltip em {
	font-size: 1.4em; 
	font-weight: bold;
	display: block;
	padding: 10px 0 15px 30px;
}
.tooltip p {
	padding: 0 8px 5px 30px;
}

.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

/*menu*/
.cssmenu {
	float: right;
}

.cssmenu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cssmenu > ul > li {
	display:inline-block;
	position: relative;
}
.cssmenu > ul > li a.home{
	background: url('../img/home.png') no-repeat;
	padding: 9px 18px;
}
.cssmenu > ul > li a.home:hover{
	background: url('../img/home_h.png') no-repeat;
}
.cssmenu > ul > li.active a{
	color:#ffffff;
	font-weight: 600;
	border-bottom: 5px solid #ED5D5D;
}
.cssmenu > ul > li span img {
	vertical-align: middle;
}
.cssmenu > ul > li > a {
	color: #ffffff;
	display: block;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 1.5em;
	padding: 14px 18px;
	text-decoration: none;
}
.cssmenu > ul > li > a:hover {
	color: #C0D2E2;
}

.logo-shield {
	vertical-align: bottom;
}

.clan-title {
	border: 0;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Cinzel', sans-serif;
	color: #fff;
	display: inline; 
	margin: 20px 0 0 5px; 
	line-height: 1px;
}

/* start sub_header */

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

p{
	text-align:left;
	margin: 0 0 10px;
}


/* start main */
.coc-logo {
	float:right;
	max-width:250px;
}
.content{
	padding: 4% 0;
	border-bottom: 1px solid rgb(226, 226, 226);
}

.content .claninfo img {
	float: left; 
	width: 30px; 
	height: 30px;
}

.content .claninfo h2 {
	padding: 4px 0 0 48px;
}

.content .claninfo ul {
	list-style-type: none;
	margin: 0 0 5px 50px;
	padding: 0;
	border-bottom: 1px solid #BBB;
}
.content .claninfo ul li {
	display: inline;
}
.content .claninfo ul li:nth-child(1) {
	font-weight: bold;
}
.content .claninfo ul li:nth-child(2) {
	float: right;
}

h1 {
	font-size: 24pt;
	margin: 0 0 15px;
}
h2 {
	font-size: 16pt;
	margin: 0 0 10px;
}
h3{
	font-size: 14pt;
	margin: 0 0 10px;
}

.troop {
	float: left;
	padding: 0px 10px 10px 0;
	/*width: 50%;*/
	max-width: 250px;
}

img.minion {
	padding: 0px 35px 10px 48px;
	max-width: 177px;
}

img.valkyrie {
	padding: 0px 65px 10px 65px;
	max-width: 130px;
}

img.balloon {
	padding: 0px 35px 10px 45px;
	max-width: 180px;
}

@media (max-width: 600px) {
	.troop {
		float: none;
		display: block;
	}
}
@media (max-width: 200px) {
	.troop {
		display: none;
	}
}

.troop-desc {
	margin: 0 0 25px 0;
}

.troop-desc h4 {
	font-size: 16px;
	margin: 0 0 0px 0;
}

.rating {
    font-weight: bold;
    color: #FF4040;
    margin: 0 0 4px 0;
}

.content ul {
	margin: 5px 0 5px;
}


.base {
	float: left;
	padding: 0px 10px 10px 0;
	max-width: 600px;
	width: 100%;
}


/* Tabs */
.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
}

.fixed {
	position: fixed;
	top: -13px;
	left: 0px;
	width: 100%;
}


.nav-height {
	margin-top: 60px;
}

.tabs-style-bar nav {
	font-weight: 300;
	font-size: 1.25em;
	border-bottom: 1px solid #A6A8AA;
	text-align: center;
	background: #fff;
}

.tabs nav ul {
	position: relative;
	top: 11px;
	padding: 0px 0 0 0;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs-style-bar nav ul li a {
	margin: 0 2px;
	background-color: #F7F7F7;
	border: 1px solid #A6A8AA;
	color: #74777b;
	text-decoration: none;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.tabs-style-bar nav ul li a:hover {
	color: #F17E21;
}

.tabs-style-bar nav ul li.tab-current a {
	background: #F17E21;
	border: 1px solid #F17E21;
	color: #fff;
}

.tabs-style-bar nav ul li .arrow-down {
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 10px solid #fff;
	margin: 0 auto;
	display: none;
}

.tabs-style-bar nav ul li.tab-current .arrow-down {
	border-top: 10px solid #F17E21;
	display: block;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.content-wrap section {
	display: none;
}

.content-wrap section.content-current {
	display: block;
}

/* Tables */
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
table.leaderboard tr.header th {
	font-weight: bold;
	background: #EAEAEA;
}
table.leaderboard td, table.leaderboard th {
	display: table-cell;
	vertical-align: inherit;
}

table.leaderboard {
	background: #E6F0FF;
	border-collapse: collapse;
	border: 0px none #cccccc;
	margin: 1em 1em 1em 0;
}

table.leaderboard th, table.leaderboard td {
	border-bottom: 1px #cccccc solid;
	padding: 6px 12px;
}

table.leaderboard tr:nth-of-type(odd) {
	background: #D6E3F1;
}

table.leaderboard tr.header th, table.leaderboard td {
	text-align: left;
}

table.leaderboard td:nth-child(1) {
	text-align: left;
}


@media only screen and (min-width: 701px) {
	table.leaderboard tr:nth-child(2) td:nth-child(1)::before { content: '1. '; }
	table.leaderboard tr:nth-child(3) td:nth-child(1)::before { content: '2. '; }
	table.leaderboard tr:nth-child(4) td:nth-child(1)::before { content: '3. '; }
	table.leaderboard tr:nth-child(5) td:nth-child(1)::before { content: '4. '; }
	table.leaderboard tr:nth-child(6) td:nth-child(1)::before { content: '5. '; }
	table.leaderboard tr:nth-child(7) td:nth-child(1)::before { content: '6. '; }
	table.leaderboard tr:nth-child(8) td:nth-child(1)::before { content: '7. '; }
	table.leaderboard tr:nth-child(9) td:nth-child(1)::before { content: '8. '; }
	table.leaderboard tr:nth-child(10) td:nth-child(1)::before { content: '9. '; }
	table.leaderboard tr:nth-child(11) td:nth-child(1)::before { content: '10. '; }
}

@media only screen and (max-width: 700px) {

	table.leaderboard, table.leaderboard thead, table.leaderboard tbody, 
	table.leaderboard th, table.leaderboard td, table.leaderboard tr {
		display: block;
	}

	table.leaderboard tr.header {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	table.leaderboard tr {
		border: 1px solid #ccc;
	}

	table.leaderboard td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 60%;
	}

	table.leaderboard td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		font-weight: bold;
	}

	td:nth-of-type(1):before { content: "Name"; }
	td:nth-of-type(2):before { content: "Last War Star Count"; }
	td:nth-of-type(3):before { content: "Total Star Count"; }
	td:nth-of-type(4):before { content: "Average Stars Per Attack"; }
}

/* Forms */


.contact-question {
	margin-top: 15px;
	color: rgb(80,80,80);
	font-weight: 700;
}

.textbox { 
    border: 1px solid #c4c4c4; 
    height: 18px; 
    width: 275px; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
 
.textbox:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 


.selectbox { 
    border: 1px solid #c4c4c4; 
    height: 27px; 
    width: 285px; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    background-color: #fff;
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
.selectbox:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 

.textarea { 
    border: 1px solid #c4c4c4; 
    height: 120px; 
    width: 400px; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
}


@media only screen and (max-width: 460px) {
	.textarea { 
		border: 1px solid #c4c4c4; 
		height: 120px; 
		width: 275px; 
		font-size: 13px; 
		padding: 4px 4px 4px 4px; 
		box-shadow: 0px 0px 8px #d9d9d9; 
		-moz-box-shadow: 0px 0px 8px #d9d9d9; 
		-webkit-box-shadow: 0px 0px 8px #d9d9d9; 
	}
}
 
 
.textarea:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 

.button {
	margin: 10px 0 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #4d90fe;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	border: 1px solid #3079ed;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: default;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	margin-right: 16px;
	height: 27px;
	line-height: 27px;
	min-width: 80px;
	outline: 0px;
	padding: 0 8px;
}


/* start about */

.top{
	margin-top: 2%;
}
.top1{
	margin-top: 4%;
}

.grids_of_2 h2{
	display: block;
	font-size: 2.5em;
	color: #111111;
	letter-spacing: -2px;
}
.grid1_of_2{
	margin-top: 4%;
}

.grid1_of_2.left{
	margin-left: 14%;
}

/***** Media Quries *****/
@media (min-width: 650px) {
	.row {
		display: table;
		table-layout: fixed;
		width: 100%;
		text-align: center;
		margin: 30px 0 0;
	}
	.column-half {
		display: table-cell;
		width: 50%;
		padding: 0 20px;
	}
}
@media (min-width: 1131px) {
	.content .claninfo {
		width: 320px;
		float: left;
	}
	.coc-characters {
		float:right;
		width: 650px;
	}
}

@media (max-width: 700px) {
	.coc-logo {
		display: none;
	}
}
@media (max-width: 1130px) {
	.content .claninfo {
		width: 320px;
		margin: 0 auto;
	}
	.coc-characters {
		display: block;
		width: 650px;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 1366px) {
	.wrap{
		width:95%;
	}
	.hdr-nav {
		width: 58%;
	}
	.sub_nav li a {
		height: 40px;
		padding: 8px 16px;
	}
}
@media only screen and (max-width: 1280px) {
	.wrap{
		width:95%;
	}
	.hdr-nav {
		width: 58%;
	}
	.sub_nav li a {
		height: 42px;
	}
	.pagination {
		width: 100%;
		margin: 0;
	}
}
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}
	.hdr-nav {
		width: 82%;
	}
	.foot_nav {
		width: 100%;
		float: none;
		margin: 0.5% 0;
	}
	.foot_soc {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.copy {
		width: 100%;
		float: none;
		margin-top: 1%;
	}
	.pagination ul {
		margin: 1% 0;
	}
	.foot_nav li {
		margin-right: 2%;
	}
	.foot_soc ul li {
		margin-top:2%;
		margin-right: 1.3333%;
	}
	.copy{
		margin-top: 2%;
	}
}
@media only screen and (max-width: 900px) {
	.wrap{
		width:95%;
	}
	.header_sub_bg {
		height: 74px;
	}
	.hdr-nav {
		width: 82%;
	}
	.cssmenu > ul > li > a {
		padding: 14px 10px;
	}
}
@media only screen and (max-width: 800px){
	.wrap{
		width:95%;
	}
	.logo{
		float:none;
		text-align:center;
	}
	.cssmenu {
		float:none;
		text-align:center;
	}
	.hdr-nav {
		text-align:center;
		float:none;
		width: 100%;
	}
	h2.style a {
		font-size: 2.2em;
	}
	.cssmenu > ul > li > a {
		padding: 10px 10px;
		font-size: 13px;
	}
}
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	h2.style a {
		font-size: 2em;
	}
	.cssmenu > ul > li > a {
		font-size: 12px;
	}
	.span1_of_3 {
		margin-top: 0%;
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.span2 {
		text-align: center;
		width: 100%;
		margin: 0px auto;
	}
	.span1_of_2 {
		margin-top: 0%;
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.cssmenu > ul > li > a {
		font-size: 10px;
		padding: 10px 2px;
	}
	.hide{
		display: none;
	}
}
@media only screen and (max-width: 320px) {
	.wrap{
		width:95%;
	}
	.span1_of_3 {
		margin-top: 0%;
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.span2 {
		text-align: center;
		width: 100%;
		margin: 0px auto;
	}
	.span1_of_2 {
		margin-top: 0%;
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.sub_nav li a {
		height: 28px;
	}
	.header_sub_bg {
		height: 50px;
	}
	.sub_nav li a {
		font-size: 13px;
		padding: 8px 10px;
	}
	.cssmenu {
		float: none;
		text-align: left;
	}
	.cssmenu > ul > li > a {
		font-size: 10px;
		padding: 10px 2px;
	}
	.pagination ul li a {
		padding: 4px 10px;
	}
	.article ul li a {
		margin-left: 30px;
	}
}
