

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body {
	font-family: helvetica, arial, sans-serif;
	background: #ffffff;
	font-size: 0.8925em;
	line-height:1.5em;
	color: #111111;
}
strong {
	font-weight: bold;
}

.wrap{
	margin:0 auto;
	width:80%;
}
.wrapper{
	padding:0px 4%;
}
/* start header */
header{
	background: #314D68;
	width: 100%;
}
.logo{
	float:left;
}
/*menu*/
.cssmenu {
	float: right;
}

.cssmenu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cssmenu > ul > li {
	display:inline-block;
	position: relative;
}
.cssmenu > ul > li a.home{
	background: url('../img/home.png') no-repeat;
}
.cssmenu > ul > li a.home:hover{
	background: url('../img/home_h.png') no-repeat;
}
.cssmenu > ul > li.active a{
	color:#ffffff;
}
.cssmenu > ul > li span img {
	vertical-align: middle;
}
.cssmenu > ul > li > a {
	color: #9FB4CC;
	display: block;
	font-size: 16px;
	line-height: 1.5em;
	padding: 9px 18px;
	text-transform: uppercase;
}
.cssmenu > ul > li > a:hover {
	color: #ffffff;
}

.logo-shield {
	vertical-align: bottom;
}

.clan-title {
	border: 0;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Cinzel', sans-serif;
	color: #fff;
	display: inline; 
	margin-left: 5px; 
	line-height: 1px;
}

/* start sub_header */
.header_sub_bg{
	background: #f8f8f8;
	border-bottom:1px solid #dddddd;
	height: 80px;
}
.hdr-nav{
	float:right;
	width: 47%;
}
.sub_nav li {
    float: left;
    position: relative;
}
.sub_nav li.active a{
	border-bottom:1px solid #161616;
}
.sub_nav li a {
	height: 38px;
	color: #555555;
	display: block;
	float: left;
	font-size: 1.1em;
	padding:8px 16px;
	position: relative;
	text-decoration: none;
}
.sub_nav li:hover > a {
   	border-bottom:1px solid #161616;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

p{
	text-align:left;
	margin: 0 0 10px;
}


/* start main */
.content{
	padding: 4% 0;
	border-bottom: 1px solid rgb(226, 226, 226);
}


.content .claninfo {
	width: 320px;
}

.content .claninfo img {
	float: left; 
	width: 30px; 
	height: 30px;
}

.content .claninfo h2 {
	padding: 4px 0 0 48px;
}

.content .claninfo ul {
	list-style-type: none;
	margin: 0 0 5px 50px;
	padding: 0;
	border-bottom: 1px solid #BBB;
}
.content .claninfo ul li {
	display: inline;
}
.content .claninfo ul li:nth-child(1) {
	font-weight: bold;
}
.content .claninfo ul li:nth-child(2) {
	float: right;
}

h1 {
	font-size: 24pt;
	margin: 0 0 15px;
}
h2 {
	font-size: 16pt;
	margin: 0 0 10px;
}
h3{
	font-size: 14pt;
	margin: 0 0 10px;
}

.content ul {
	margin: 5px 0 5px;
}


/* start about */
.top{
	margin-top: 2%;
}
.top1{
	margin-top: 4%;
}

@media (min-width: 500px) {
	.row {
		display: table;
		table-layout: fixed;
		width: 100%;
		text-align: center;
		margin: 30px 0 0;
	}
	.column-half {
		display: table-cell;
		width: 50%;
		padding: 0 20px;
	}
}

.grids_of_2 h2{
	display: block;
	font-size: 2.5em;
	color: #111111;
	letter-spacing: -2px;
}
.grid1_of_2{
	margin-top: 4%;
}

.grid1_of_2.left{
	margin-left: 14%;
}

/***** Media Quries *****/
@media only screen and (max-width: 1366px) {
	.wrap{
		width:95%;
	}
	.hdr-nav {
		width: 58%;
	}
	.sub_nav li a {
		height: 40px;
		padding: 8px 16px;
	}
}
@media only screen and (max-width: 1280px) {
	.wrap{
		width:95%;
	}
	.hdr-nav {
		width: 58%;
	}
	.sub_nav li a {
		height: 42px;
	}
	.pagination {
		width: 100%;
		margin: 0;
	}
}
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}
	.hdr-nav {
		width: 82%;
	}
	.foot_nav {
		width: 100%;
		float: none;
		margin: 0.5% 0;
	}
	.foot_soc {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.copy {
		width: 100%;
		float: none;
		margin-top: 1%;
	}
	.pagination ul {
		margin: 1% 0;
	}
	.foot_nav li {
		margin-right: 2%;
	}
	.foot_soc ul li {
		margin-top:2%;
		margin-right: 1.3333%;
	}
	.copy{
		margin-top: 2%;
	}
}
@media only screen and (max-width: 900px) {
	.wrap{
		width:95%;
	}
	.header_sub_bg {
		height: 74px;
	}
	.hdr-nav {
		width: 82%;
	}
	.cssmenu > ul > li > a {
		padding: 8px 10px;
	}
}
@media only screen and (max-width: 780px){
	.wrap{
		width:95%;
	}
	.logo{
		float:none;
		text-align:center;
	}
	.cssmenu {
		float:none;
		text-align:center;
	}
	.hdr-nav {
		text-align:center;
		float:none;
		width: 100%;
	}
	h2.style a {
		font-size: 2.2em;
	}
	.cssmenu > ul > li > a {
		padding: 10px 10px;
		font-size: 13px;
	}
}
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	h2.style a {
		font-size: 2em;
	}
	.cssmenu > ul > li > a {
		font-size: 12px;
	}
	.span1_of_3 {
		margin-top: 0%;
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.span2 {
		text-align: center;
		width: 100%;
		margin: 0px auto;
	}
	.span1_of_2 {
		margin-top: 0%;
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.cssmenu > ul > li > a {
		font-size: 10px;
		padding: 10px 2px;
	}
	.hide{
		display: none;
	}
}
@media only screen and (max-width: 320px) {
	.wrap{
		width:95%;
	}
	.span1_of_3 {
		margin-top: 0%;
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.span2 {
		text-align: center;
		width: 100%;
		margin: 0px auto;
	}
	.span1_of_2 {
		margin-top: 0%;
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.sub_nav li a {
		height: 28px;
	}
	.header_sub_bg {
		height: 50px;
	}
	.sub_nav li a {
		font-size: 13px;
		padding: 8px 10px;
	}
	.cssmenu {
		float: none;
		text-align: left;
	}
	.cssmenu > ul > li > a {
		font-size: 10px;
		padding: 10px 2px;
	}
	.pagination ul li a {
		padding: 4px 10px;
	}
	.article ul li a {
		margin-left: 30px;
	}
}